# Byte-compiled / Optimized / DLL Files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / Packaging
venv/
.venv/
dist/
build/
*.spec
*.egg-info/
icon.ico
build_log*.txt

# Unit Test
.pytest_cache/

# Ignore IDE, Editor Files
.idea/
.vscode/
